@model Catridges.Domain.Entity.Catridge

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<br/>
<h2>Картриджи. Просмотр катриджа @Model.Model.</h2>
<br/>
<div class="table-active">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Модель</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="40">1</td>
            <td width="*">@Model.Model</td>
            <td width="80"><a class="btn btn-outline-dark" asp-controller="Catridge" asp-action="UpdateCatridge" asp-route-id="@Model.Id">Изменить</a></td>
            <td width="80"><a class="btn btn-outline-dark" asp-controller="Catridge" asp-action="DeleteCatridge" asp-route-id="@Model.Id">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <div style="position: center" >
        <a class="btn btn-dark"  asp-controller="Catridge" asp-action="GetAllCatridges">Назад</a>
    </div>
</div>
</body>