@model bool

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<body>
<div>
    <br/>
    <h2>Принтеры. Создание нового Принтера.</h2>
    <br/>
</div>
<form method="post">
    <div class="mb-3">
        <label for="model" class="form-label fw-bold">Наименование модели</label>
        <input type="text" class="form-control form-control-dark" name="model" id="model">
    </div>
    <button type="submit" class="btn btn-dark text-white">Создать</button>
</form>
<br/>
<div>
    <a class="btn btn-dark text-white" asp-controller="Printer" asp-action="GetAllPrinters">Назад</a>
</div>
</body>