@model bool

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post">
    <div class="mb-3">
        <label for="model" class="form-label">Дата</label>
        <input type="text" class="form-control" name="model" id="model">
        <label for="model" class="form-label">Дата</label>
        <input type="text" class="form-control" name="model" id="model">
        <label for="model" class="form-label">Дата</label>
        <input type="text" class="form-control" name="model" id="model">
        <label for="model" class="form-label">Дата</label>
        <input type="text" class="form-control" name="model" id="model">
        <label for="model" class="form-label">Дата</label>
        <input type="text" class="form-control" name="model" id="model">
        <label for="model" class="form-label">Дата</label>
        <input type="text" class="form-control" name="model" id="model">
        <label for="model" class="form-label">Дата</label>
        <input type="text" class="form-control" name="model" id="model">
        
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
<br/>
<br/>
<br/>
<div>
    <a class="btn btn-outline-info"  asp-controller="Document" asp-action="GetAllDocuments">Назад</a>
</div>