@model bool

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Sucsess</h1>
<div style="position: center">
    <a class="btn btn-outline-info"  asp-controller="Document" asp-action="GetAllDocuments">Назад</a>
</div>