@model bool

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<br/>
<h1 class="fw-bold">Sucsess</h1>
<br/>
<div style="position: center">
    <a class="btn btn-dark" asp-controller="Subdivision" asp-action="GetAllSubdivisions">Назад</a>
</div>
</body>