@model Catridges.Domain.Entity.Subdivision

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<div>
    <br/>
    <h2>Подразделения.
        Изменение подразделения @Model.Name.</h2>
    <br/>
</div>
<form method="post">
    <div class="mb-3">
        <label for="model" class="form-label fw-bold">Наименование подразделения</label>
        <input type="hidden" name="id" id="id" value="@Model.Id"/>
        <input type="text" class="form-control form-control-dark" name="model" id="model" value="@Model.Name">
    </div>
    <button type="submit" class="btn btn-dark text-white">Изменить</button>
</form>
<br/>
<div>
    <a class="btn btn-dark text-white" asp-controller="Subdivision" asp-action="GetAllSubdivisions">Назад</a>
</div>
</body>