@{
    ViewBag.Title = "Управление катриджами";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Управление катриджами</title>
     <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>
<main class="col-md-9 ms-sm-auto col-lg-auto px-md-5">
    <h2>Section title</h2>
    
    <h2> Тут какой-то текс</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>



